{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <img src="{% static 'yuri.jpg' %}" style="width: 50%; height: 50%;" alt="">
            <h1 class="jumbotron-heading">My portfolio</h1>
            <p class="lead text-muted">여태까지 내가 만든 작품들입니다.</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
            {% for portfolio in portfolios.all %}
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src="{{ portfolio.image.url }}" alt=" Card image cap">
                  <div class="card-body">
                    <h4>{{ portfolio.title }}</h4>
                    <p class="card-text">{{ portfolio.description }}</p>
                  </div>
                </div>
              </div>
          {% endfor %}
          </div>
        </div>
      </div>

</main>

{% endblock %}